.izquierda-battle-php{
	position: absolute;
	left: 70px;
	top: 100px;
}
.centro-izquierda-battle-php{
	position: absolute;
	left: 370px;
	top: 100px;
}
.centro-derecha-battle-php{
	position: absolute;
	right: 70px;
	top: 100px;
}
.derecha-battle-php{
	position: absolute;
	right: 370px;
	top: 100px;
}
.win-user1{
	position: absolute;
	left: 360px;
	top: 380px;
}
.win-user2{
	position: absolute;
	right: 380px;
	top: 380px;
}
.winner{
	position: absolute;
	right: 587px;
	top: 450px;
}
.winner2{
	position: absolute;
	right: 555px;
	top: 450px;
}
.img-winner{
	margin-top: 120px;
}
