img{
	max-width: 100%;
}
body{
	background-position: center;
	background-size: 140%;	
}
form input{
	padding: 0px 10px;
	color: #6d6d6d;
	text-align: center;
}
.img-redonda {
    width:300px;
    height:300px;
    border-radius:150px;
}
.izquierda{
	position: absolute;
	left: 270px;
	top: 140px;
}
.al-medio{
	position: absolute;
	left: 550px;
	top: 180px;
}
.centrar{
	position: absolute;
	top: 120px;
	left: 290px;
}
.centrar-stars{
	position: absolute;
	top: 10px;
	left:500px;
}

.centrar-battle{
	position: absolute;
	top: 20px;
	right: 300px;
}
.derecha{
	position: absolute;
	right: 300px;
	top: 30px;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 150px;
}
.espacio-arriba-imagen{
	margin-top: 120px;
}
.espacio-arriba-index{
	margin-top: 100px;
}
.texto{
	font-family: 'Open Sans Condensed', sans-serif;
}
.text-color{
	color: #F2F2F2;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.text-black{
	color: #1C1C1C;
}
.fondo{
	background-size: 120%;
}
.imagen-usuario{
	border-radius: 25px;
}
.boton{
	font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:80px;
    height:19px;
}
.inicio{
	position: absolute;
	right: 10px;
}
.star{
	position: absolute;
	right: 120px;
}
.git{
	position: absolute;
	right: 230px;
}
.github{
	position: absolute;
	right: 340px;
}
.swords{
	position: absolute;
	right: 450px;
	top: 2px;
}
.circulo{
	border-radius: 150px;
}
.top-index{
	top: 190px;
}
.header-color{
	background-color: red;
	position: absolute;
}
